<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>AddNumbers</servlet-name>
        <servlet-class>com.training.devops.AddNumbers</servlet-class>
                <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNumbers</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
